#fond_1{
    background: url(../../IMG/fond_perles.jpg) no-repeat;
    background-attachment: fixed;
    padding: 250px 0;
    background-size: cover;
    text-align: center;
    margin: 0;
    height: auto;
    width: 100%;
}

#fond_2{
    background: url(../../IMG/bracelet_or.jpg) no-repeat;
    background-attachment: fixed;
    padding: 250px 0;
    background-size: cover;
    text-align: center;
    margin: 0;
    height: auto;
    width: 100%;
}

#fond_4{
    background: url(../../IMG/boucles_soleil.jpg) no-repeat;
    background-attachment: fixed;
    padding: 250px 0;
    background-size: cover;
    text-align: center;
    margin: 0;
    height: auto;
    width: 100%;
}

#fond_3{
    background: url(../../IMG/bague_perles.jpg) no-repeat;
    background-attachment: fixed;
    padding: 250px 0;
    background-size: cover;
    text-align: center;
    margin: 0;
    height: auto;
    width: 100%;
}

.articles{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.title{
    font-size: 135px;
    color: whitesmoke;
}

a{
    text-decoration: none;
    color: #152331;

}

.card{
    margin: 20px 30px 20px;
    max-width: 275px;
    max-height: 450px;
    background-color: #f6f6f6;
    border-radius: 13px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.3s ease;
    color: #152331;
}

.card:hover{
    transform: scale(1.08);
}

img{
    width: 100%;
    height: 60%;
    place-items: center;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    object-fit: cover;
}

.small{
    margin: 0;
    font-size: 15px;
    /* color: #2e2e2e; */
    font-style: italic;
}

h2{
    text-transform: uppercase;
}

.text{
    padding: 13px;
    text-align: start;
    /* color: black; */
}

p{
    margin: 5px 0;
}

.info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.modal img{
    border-radius: 8px;
}

.modal .description{
    font-size: 19px;
}

.modal .info p:first-child{
    /* color: #3b3b3b; */
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.modal .info p:first-child:hover{
    transform: scale(1.08);
    /* color: black; */
}