.fond_bracelet{
    background: url(../../IMG/bracelet_or.jpg) no-repeat;
    background-attachment: fixed;
    padding: 250px 0;
    background-size: cover;
    text-align: center;
    margin: 0;
    height: auto;
    width: 100%;
}

#title{
    font-size: 135px;
    color: whitesmoke;
}

#bracelet-articles{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}